export BLOOM_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1laWRlbnRpZmllciI6IjlhNTQ3Y2JlLTRiMjQtNGVjMS04YzJiLWFlNzEwMTI4MDBlNiIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL25hbWUiOiJGcmFuY2Nlc2NvIE9yb3pjbyIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL2VtYWlsYWRkcmVzcyI6ImZyYW4ub0B3aW50ZXJpbnRlcm5hdGlvbmFsLmlvIiwianRpIjoiZjJkZDU0ZjQtOTM5My00ODE5LTg0ZTYtMjdlOTgxZGExZWFiIiwiand0IjoidHJ1ZSIsImV4cCI6MTc0MTE5ODg2OSwiaXNzIjoiUmFkaWFsSW5jIiwiYXVkIjoiVHJhY3Rpb25Ub29scyJ9.rdD-ib9n5dS0UrhfFJrPbHVtdIw5UBJWKnT_zVxgAyo
export BLOOM_API_URL=https://app.bloomgrowth.com/graphql
